<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MyApp</name>
    <description>
        Week 7 Application | Outputs
    </description>
    <author email="oani1_16@uni.worc.ac.uk" href="http://source.worcestercomputing.com">
        Iulian Oana
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-dialogs" spec="~1.3.4" />
</widget>
